:root {
  --navbar-bg-color: var(--el-color-white);
  --navbar-color: var(--el-color-black);
  --navbar-height: 50px;
  --navbar-line-height: var(--navbar-height);
  --navbar-ft-color: var(--el-color-black);
  --app-bg-color: var(--el-color-white);
  --app-color: var(--el-color-black);
  --svg-fill-color:var(--el-color-black);
  --table-fill-color:var(--el-color-white);
}
[data-theme="dark"] {
  --navbar-bg-color: var(--el-color-black);
  --navbar-color: var(--el-color-white);
  --navbar-height: 50px;
  --navbar-line-height: var(--navbar-height);
  --navbar-ft-color: var(--el-color-white);
  --app-bg-color: var(--el-color-black);
  --app-color: var(--el-color-white);
  --svg-fill-color: var(--el-color-white);
  --table-fill-color: var(--el-color-black);
}
.grey_bg{
  background: #f3f6fd !important;
  /*background: #f8f8f8 !important;*/
}
.colorful{
  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
}
