.font-10-size{
    font-size: 10px;
}
.font-12-size{
    font-size: 12px;
}
.font-15-size{
    font-size: 15px;
}
.font-18-size{
    font-size: 18px;
}
.font-20-size{
    font-size: 20px !important;
}
.font-30-size{
    font-size: 30px;
}
.font-40-size{
    font-size: 40px;
}
.font-48-size{
    font-size: 48px !important;
}
.font-150-size{
    font-size: 150px;
}
.font-60-weight{
    font-weight: 600;
}
