.margin-5-left{
    margin-left: 5px;
}
.margin-10-left{
    margin-left: 10px;
}
.margin-20-left{
    margin-left:20px;
}
.margin-15-top{
    margin-top: 15px;
}
.margin-10-top{
    margin-top: 10px;
}
.margin-20-top{
    margin-top: 20px;
}
.padding-20-top{
    padding-top: 20px;
}
