.custom_tag{
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}
.custom_tag_30{
    padding: 2px 5px 2px 6.5px !important;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
}
.black_btn{
    background-color: #000000;
    color: #ffffff;
}
.orange_btn{
    background-color: #fff1e2;
    color: #ff6060;
}
.orange_btn_reinforce{
    background-color: #ff6060;
    color: #fff;
}
.purple_btn{
    background-color: #e3e2ff;
    color: #6160ff;
}
.purple_btn_reinforce{
    background-color: #ab48bc;
    color: #fff;
}
.blue_btn{
    background-color: #f4f6fd;
    color: #096c86;
}
.dark_blue_btn{
    background-color: #e9f9ff;
    color: #385f7f;
}
.black_btn{
    background-color: #000;
    color:#fff;
}
.grey_btn{
    background-color: #f1f1f1;
    color: #8a8a8a;
}
.dark_blue_reinforce_btn{
    background-color: #385f7f;
    color: #fff;
}
.green_btn{
    background-color: #f4f6fd;
    color: #186132;
}
.green_btn_reinforce{
    background-color: #186132;
    color: #fff;
}
.yellow_btn{
    background-color: #fdeb92;
    color: #000;
}
