.custom_tag{
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}
.black_btn{
    background-color: #f1f1f1;
    color: #151515;
}
.orange_btn{
    background-color: #fff1e2;
    color: #ff6060;
}
.orange_btn_reinforce{
    background-color: #ff6060;
    color: #fff;
}
.purple_btn{
    background-color: #e3e2ff;
    color: #6160ff;
}
.purple_btn_reinforce{
    background-color: #ab48bc;
    color: #fff;
}
.blue_btn{
    background-color: #e9f9ff;
    color: #2ab1e6;
}
.blue_btn_reinforce{
    background-color: #42a5f5;
    color: #fff;
}
.green_btn{
    background-color: #ebfdec;
    color: #49a269;
}
.green_btn_reinforce{
    background-color: #48bc76;
    color: #fff;
}
.yellow_btn{
    background-color: #fdeb92;
    color: #000;
}
