.custom_tag{
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}
.custom_tag_30{
    padding: 2px 5px 2px 6.5px !important;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
}
.custom_tag_40{
    padding: 5px 5px 5px 5px !important;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin: 3px 0 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange_btn{
    background-color: #fff1e2;
    color: #ff6060;
}
.orange_btn_reinforce{
    background-color: #ff6060;
    color: #fff;
}
.purple_btn{
    background-color: #e3e2ff;
    color: #6160ff;
}
.purple_btn_reinforce{
    background-color: #ab48bc;
    color: #fff;
}
.blue_btn{
    background-color: var(--blue-btn-bg-color);
    color: var(--blue-btn-color);
}
.dark_blue_btn{
    background-color: var(--dark-blue-btn-bg);
    color: var(--blue-btn-color);
}
.right_blue_btn{
    background-color: var(--right-blue-btn-bg);
    color: var(--blue-btn-color);
}
.black_btn{
    background-color: var(--navbar-color);
    color:var(--navbar-bg-color);
}
.grey_btn{
    background-color: #f1f1f1;
    color: #8a8a8a;
}
.dark_blue_reinforce_btn{
    background-color: #385f7f;
    color: #fff;
}
.green_btn{
    background-color: #f4f6fd;
    color: #186132;
}
.green_btn_reinforce{
    background-color: #186132;
    color: #fff;
}
.yellow_btn{
    background-color: #fdeb92;
    color: #000;
}
