.link-underlined {
  position: relative;
  display: inline-block;
  line-height: normal;
  color: var(--link-underlined-color);
  border: none;
  cursor: pointer;
}
.link-underlined:before {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 100%;
  height: 2px;
  background-repeat: no-repeat;
  background-image: var(--link-underlined-before);
  background-size: 220% 100%;
  background-position: 100% 50%;
  transition: .3s ease-out;
}
.link-underlined:hover:before {
  background-position: 0% 50%
}
*,::after,:hover{
  box-sizing: border-box;
}
.icon_l{
  width: 20px;
  height: 20px;
}
body {
  margin: 0;
  display: flex;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-x: hidden;
  letter-spacing: 2px;
  min-height: calc(100vh);
  margin: 0 auto;
  max-width: 100%;
  background: var(--hero-bg-color);
  color: var(--navbar-color);
}
a{
  text-decoration: none;
}
